---
layout: daily_office
permalink: /sdo/<%= episode_date.strftime('%Y/%m/%d') %>/morning_prayer_ii
image:
  credit: Photo by Kentaro Toma on Unsplash
  feature: /assets/images/kentaro-toma-6w69LjySugQ-unsplash.jpg
  topPosition: -420px
title: Morning Prayer, Rite Two for <%= episode_date.strftime('%A, %B %d, %Y') %>
---

<iframe title="Morning Prayer II for <%= episode_date.strftime('%A, %B %d, %Y') %>" allowtransparency="true" height="150" width="100%" style="border: none; min-width: min(100%, 430px);height:150px;" scrolling="no" data-name="pb-iframe-player" src="https://www.podbean.com/player-v2/?i=ucz3g-154215f-pb&from=pb6admin&share=1&download=1&rtl=0&fonts=Arial&skin=1&font-color=auto&logo_link=episode_page&btn-skin=7" loading="lazy"></iframe>

<h3 class="date"><%= episode_date.strftime('%B %d, %Y') %></h3>
<h3 class="title"><%= office.day_of_church_year %></h3>


<div class="citation"><%= office.opening_sentence.reference %></div>
<blockquote class="opening-sentence"><%= office.opening_sentence.text %></blockquote>

<h3>Confession of Sin</h3>

<p><%= office.confession_invitation %></p>

<p>
Most merciful God,<br>
we confess that we have sinned against you<br>
in thought, word, and deed,<br>
by what we have done,<br>
and by what we have left undone.<br>
We have not loved you with our whole heart;<br>
we have not loved our neighbors as ourselves.<br>
We are truly sorry and we humbly repent.<br>
For the sake of your Son Jesus Christ,<br>
have mercy on us and forgive us;<br>
that we may delight in your will,<br>
and walk in your ways,<br>
to the glory of your Name. Amen.
</p>

<p>
Almighty God have mercy on us, forgive us all our sins through our Lord Jesus Christ, strengthen us in all goodness, and by the power of the Holy Spirit keep us in eternal life. Amen.
</p>

<h2>Invitatory and Psalter</h2>

<dl class="responses">
  <dt class="speaker">Officiant</dt>
  <dd>Lord, open our lips.</dd>
  <dt class="speaker">People</dt>
  <dd>And our mouth shall proclaim your praise.</dd>
</dl>

<p>
Glory to the Father, and to the Son, and to the Holy Spirit: as it was in the beginning, is now, and will be for ever. Amen.
</p>

<% if office.alleluia %>
  <p>Alleluia.</p>
<% end %>

<blockquote><%= office.antiphon %></blockquote>

<div class="citation"><%= office.invitatory.reference %></div>
<h3><%= office.invitatory.title %></h3>

<div class="poetry">
  <%= office.invitatory.text %>
</div>

<% office.psalms.each do |psalm| %>
  <h3><%= psalm.title %></h3>

  <div class="poetry">
    <%= psalm.text %>
  </div>

  <p> Glory to the Father, and to the Son, and to the Holy Spirit: as it was in the beginning, is now, and will be for ever. Amen.
  </p>
<% end %>

<h2>The Lessons</h2>

<div class="citation"><%= office.lesson_1.reference %></div>
<h3><%= office.lesson_1.title %></h3>

<p class="lesson">
  <%= office.lesson_1.text %>
</p>

<p>
The Word of the Lord.<br>
Thanks be to God.
</p>

<% if office.canticle_1.reference %>
<div class="citation"><%= office.canticle_1.reference %></div>
<% end %>
<h3><%= office.canticle_1.title %> <em class="latin_name"><%= office.canticle_1.latin_name %></em></h3>

<div class="poetry">
  <%= office.canticle_1.text %>
</div>

<p>
Glory to the Father, and to the Son, and to the Holy Spirit: *<br>
as it was in the beginning, is now, and will be for ever. Amen.
</p>

<div class="citation"><%= office.lesson_2.reference %></div>
<h3><%= office.lesson_2.title %></h3>

<p class="lesson">
  <%= office.lesson_2.text %>
</p>

<p>
The Word of the Lord.<br>
Thanks be to God.
</p>

<% if office.canticle_2.reference %>
<div class="citation"><%= office.canticle_2.reference %></div>
<% end %>
<h3><%= office.canticle_2.title %> <em class="latin_name"><%= office.canticle_2.latin_name %></em></h3>

<div class="poetry">
  <%= office.canticle_2.text %>
</div>

<h3>The Apostles Creed</h3>

<div class="poetry">
<p>I believe in God, the Father almighty,</p>
 <p class="indent">creator of heaven and earth.</p>
<p>I believe in Jesus Christ, his only son, our Lord.</p>
 <p class="indent">He was conceived by the power of the Holy Spirit</p>
 <p class="indent2">and born of the Virgin Mary.</p>
 <p class="indent">He suffered under Pontius Pilate,</p>
 <p class="indent2">was crucified, died, and was buried.</p>
 <p class="indent">He descended to the dead.</p>
 <p class="indent">On the third day he rose again.</p>
 <p class="indent">He ascended into heaven,</p>
 <p class="indent2">and is seated at the right hand of the Father.</p>
 <p class="indent">He will come again to judge the living and the dead.</p>
<p>I believe in the Holy Spirit,</p>
 <p class="indent">the holy catholic Church,</p>
 <p class="indent">the communion of saints,</p>
 <p class="indent">the forgiveness of sins,</p>
 <p class="indent">the resurrection of the body,</p>
 <p class="indent">and the life everlasting. Amen.</p>
</div>

<h2>The Prayers</h2>

<dl class="responses">
  <dt class="speaker">Officiant</dt>
  <dd>The Lord be with you.</dd>
  <dt class="speaker">People</dt>
  <dd>And also with you.</dd>
  <dt class="speaker">Officiant</dt>
  <dd>Let us pray.</dd>
</dl>

<h3>The Lord's Prayer</h3>

<div class="poetry">
<p>Our Father, who art in heaven,</p>
 <p class="indent">hallowed be thy Name,</p>
 <p class="indent">thy kingdom come,</p>
 <p class="indent">thy will be done,</p>
 <p class="indent2">on earth as it is in heaven.</p>
<p>Give us this day our daily bread.</p>
<p>And forgive us our trespasses,</p>
 <p class="indent">as we forgive those</p>
 <p class="indent2">who trespass against us.</p>
<p>And lead us not into temptation,</p>
 <p class="indent">but deliver us from evil.</p>
<p>For thine is the kingdom,</p>
 <p class="indent">and the power, and the glory,</p>
 <p class="indent">for ever and ever. Amen.</p>
</div>

<h3>Suffrages A</h3>

<p>
V.	Show us your mercy, O Lord;<br>
R.	And grant us your salvation.<br>
V.	Clothe your ministers with righteousness;<br>
R.	Let your people sing with joy.<br>
V.	Give peace, O Lord, in all the world;<br>
R.	For only in you can we live in safety.<br>
V.	Lord, keep this nation under your care;<br>
R.	And guide us in the way of justice and truth.<br>
V.	Let your way be known upon earth;<br>
R.	Your saving health among all nations.<br>
V.	Let not the needy, O Lord, be forgotten;<br>
R.	Nor the hope of the poor be taken away.<br>
V.	Create in us clean hearts, O God;<br>
R.	And sustain us with your Holy Spirit.
</p>

<h3>The Collect of the Day</h3>
<p><%= office.collect_of_the_day %></p>

<h3><%= office.collect_for_weekday.title %></h3>
<p><%= office.collect_for_weekday.text %></p>

<h3>A Prayer for Mission</h3>
<p><%= office.prayer_for_mission %></p>

<% office.thanksgivings.each do |thanksgiving| %>
<h3><%= thanksgiving.title %></h3>
  <% if thanksgiving.title.eql? "The General Thanksgiving" %>
<p class="poetry">
  <% else %>
<p>
  <% end %>
  <%= thanksgiving.text %>
</p>
<% end %>

<p>
Let us bless the Lord<br>
Thanks be to God.
</p>

<div class="citation"><%= office.benediction.reference %></div>
<blockquote><%= office.benediction.text %></blockquote>
